.header {
  width: 100%;
  height: 55px;
  background-color: rgb(255, 169, 111);
  position: fixed;
  top: 0%;
  z-index: 9999;
}
.header-container {
  width: 95%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header-logo {
  width: 5%;
}
.header-logo img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-left: 20px;
}
.header-content {
  width: 80%;
}
.header-ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-ul a {
  text-decoration: none;
  color: #222;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}
.header-ul a:hover {
  color: rgb(255, 255, 255);
}
.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-content {
    background-color: #ffa96f;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%);
    color: #222;
    display: none;
    padding: 12px 16px;
    position: absolute;
    right: -120px;
    width: 360px;
    z-index: 1;
}
.dropdown:hover .dropdown-content {
  display: block;
}