.Footer {
  width: 100%;
  height: 55px;
  background-color: rgb(224, 224, 224);
  bottom: 0%;
}
.Footer-container {
  width: 95%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.Footer-container p {
  font-size: 17px;
}
